---
import HeroTitle from '../HeroTitle';
import HeroProjectCard from './HeroProjectCard';
const projects = await Astro.glob('../../../pages/projets/*.md');
---

<HeroTitle
    primaryTitle="Séléction de projets"
    secondaryTitle="On ajoute bientôt le votre ?"
/>

<div class="projects_list">
        {projects.map(projet => (
                <div>
                    <HeroProjectCard
                    title={projet.frontmatter.title}
                    imgUrl={projet.frontmatter.img.url}
                    alt={projet.frontmatter.img.alt}
                    excerpt={projet.frontmatter.excerpt}
                    tags={projet.frontmatter.tags}
                    url={projet.url}
                    />
                </div>
               
        ))}
</div>

<style>
    .projects_list {
        grid-column-gap: 60px;
        grid-row-gap: 60px;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: 1fr;
        margin-left: 0;
        margin-right: 0;
        display: grid;
        padding: 40px 12%;
    }
</style>